<br>
<hr>
<br>
<div class="donate">
	<p>Did you like of something here? How about sending me some good memes?<br>
	I'll appreciate it!</p>
	
    <a href="https://www.facebook.com/utsab.chowdhury.71">Facebook</a>
    <a href="https://twitter.com/tramp_snippet">Twitter</a>
</div>